
.home-page{
    border-top: solid 4px #ffd800;
}
.category-row{
    border: solid 1px #eee;
    padding:10px 0;
}
.category-row p{
    margin-bottom:0;
}
.category-row h3{
    font-size:18px;
    font-weight: bold;
    margin:0;
}
.last-changed{
    padding:5px 0;
    vertical-align:middle;
    color:#666;
    font-size:12px;
    line-height:14px;
}
#header{
    background-color:#454545;
}
.body-content{
    padding-top:50px;
}
.start-topic{
    background-color:#ffd800;
    border-color: #ffd800;
    margin-bottom:10px!important;
}
.start-topic:hover{
    background-color:#eccb11;
    border-color:#eccb11;
}
.start-topic a{
    color:#333;
}
.start-topic a:hover{
    text-decoration:none;
}